# Virtual environment
venv/
.venv/

# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo

# PyCharm
.idea/

# Database
*.db
*.sqlite3

# Migrations (keep the folder, ignore versions)
migrations/versions/

# OS
.DS_Store